<body>
    <p>You're receiving this e-mail because you requested a password reset for your user account at Solve Logistics.</p>

    <p>
        Please go to the following page and choose a new password:
        <br>
        <a href="{{ config.FRONTEND_URL }}/reset-password/{{ token }}">{{ config.FRONTEND_URL }}/reset-password/{{ token }}</a>
        <br>
        Please note that this link is valid for 24 hours.
    </p>

    <p>Thanks for using our service!</p>

    <p><strong>Solve Logistics</strong></p>
</body>